a{
    color: rgb(186, 229, 245)
}
.select-option:hover option:hover{
    background-color: #f87171; /* Tailwind class: bg-red-500 */
    color: #fff; 


}
<<<<<<< HEAD
@layer utilities {
    .clip-kue-potong {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
  }
=======

>>>>>>> second/development
